<table>
    <tr>
        {% for item in output.table_header %}
            <th>{{item}}</th>
        {% endfor %}
    </tr>
    {% for item in output.table_body %}
    <tr>
        <th>{{item[0]}}</th>
        {% for row in range(1, (item| length) - 2) %}
        {% if item[row] == 0 %}
            <td bgcolor=#59081E>{{item[row]}}</td>
        {% else %}
            <td bgcolor=#4AAB79>{{item[row]}}</td>
        {% endif %}
        {% endfor %}
        {% if item[-2] == 0 %}
            <td bgcolor=#4AAB79>{{ item[-2] }}</td>
        {% else %}
            <td>{{ item[-2] }}</td>
        {% endif %}
        {% if item[-1] >= 6 %}
            <td bgcolor=#4AAB79>{{ item[-1] }}</td>
        {% else %}
            <td>{{ item[-1] }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<style>
    table {
        border: 2px solid white; border-collapse: collapse; width: 100%;
    }
    th, td {
        border: 0.1px solid white; padding: 15px; text-align: left;
    }
</style>